* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
h1, h2 {
    color: #111;
    text-align: left;
    margin:0;
}

body {
    margin:0;
    padding:0;
}


ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header {
    padding:2rem 0 2rem 2rem;
    background-color: darkcyan;
    border-bottom: solid 3px #111;
}

.letters, .pages {
    background-color: #eee;
}

.letters {
    font-size: 1.75rem;
    font-family: 'SBL Hebrew', 'Times New Roman', sans-serif;
    float:left;
    width: 3rem;
}

.pages {
    font-size: 1.5rem;
    font-family: 'SBL Hebrew', 'Times New Roman', sans-serif;
    float:left;
    border-right: solid 1px black;
    border-left: solid 1px black;
}
.nav-link {
    color: black;
    display: inline-block;
    padding: 0.25rem;
    text-decoration: none;
    width:100%;
    border-top:solid 1px #fff;
    border-bottom:solid 1px #ccc;
}
.nav-link:hover {
    background-color: #aaa;
    border-top:solid 1px #777;
    border-bottom:solid 1px #777;
    cursor: pointer;
}
.letters .nav-link {
    text-align: center;
}
.pages .nav-link {
    padding: 0.25rem 1rem;
    text-align: right;
}
.active {
    background-color:#ccc;
    border-top:solid 1px #999;
    border-bottom:solid 1px #999;
}
.page-image {
    padding: 2rem 4rem;;
    float:right;
}