* {box-sizing: border-box;}

/* Layout */
html, body {
  max-width: 70rem;
  position: relative;
  height:100%;
  margin:0;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
h1, h2, h3 {
  margin:0;
  padding:0;
}
h3 {float:right; display:inline-block;}
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.wrapper, .nav, .letters, .pages, .page-image { height: 100%; }
.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top:6rem;
}
.nav {
  flex: none;
  width:13rem;
  position:relative;
}
.letters, .pages, .page-image { overflow-y:auto; }
.letters { width:3rem; }
.pages {
  position: absolute;
    top:0;
    left:3rem;
  width:10rem;
}
.pages{ display:none; }
.active-letter > .pages { display:block; }
.page-img img { 
  width: 100%;
  min-width: 40rem;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Times New Roman', Serif;
  font-weight: 100;
  color: white;
  padding-bottom: 0.5rem;
}
h2, h3 {font-style: italic;}
.letters, .pages {
    font-family: 'SBL Hebrew', 'Times New Roman', Serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.pages a {
    color:black;
    text-decoration: none;
}
.page-nav {
  font-family: 'Ariel', sans-serif;
}

/* Style */
.header { 
  padding: 0.5rem 1rem;;
  background-color: rgb(25, 50, 60);
  border-bottom: solid 1px rgb(50, 50, 50);
  border-right: solid 1px rgb(50, 50, 50);
}
.wrapper {border-right:solid 1px rgb(125, 125, 125);}
.nav{
  background-color: rgb(245, 245, 245);
  border-right:solid 1px rgb(125, 125, 125); 
}
.letters {
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-right:solid 1px rgb(125, 125, 125); 
}
.letter {
  border-bottom: solid 1px rgb(150, 150, 150);
  padding: 0.25rem;
  cursor: pointer;
}
.letter:hover { background-color: rgb(110, 175, 130) }
.active-letter, .active-letter:hover { background-color: rgb(255, 170, 100) }
.pages { 
  text-align: right;
} 
.page {padding:0.15rem 0.75rem;}
.page a {display:block;}
.page:hover   { background-color: rgb( 100, 150, 175 ) }
.active-page { background-color: rgb( 150, 100, 175 ) }
.page-view {
  position:relative;
  flex: auto;
  overflow: hidden;
}
.page-nav { 
  width:100%;
  position: absolute;
  display: flex;
  background-color: rgb(245, 245, 245);
  border-bottom: solid 1px rgb(150, 150, 150);
  box-shadow: -5px -0px 10px gray;
}
  .page-nav a {
    width: 50%;
    padding: 0.5rem 5rem;
    color: black;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(225, 225, 225);
  }
  .page-nav a:hover {
    text-decoration: underline;
  }
.disabled {
  text-decoration: none !important;
  color: gray !important;
}
.page-img {
  padding:1rem;
  padding-top:3rem;
  height:100%;
  overflow-y: scroll;
}