* {box-sizing: border-box;}

/* Layout */
html, body {
  height:100%;
  margin:0;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.wrapper, .nav, .letters, .pages, .page-image { height: 100%; }
.wrapper{
  display: flex;
  overflow: hidden;
  padding-top:8rem;
}
.nav {
  flex: none;
  width:13rem;
  position:relative;
}
.letters, .pages, .page-image { overflow-y:auto; }
.letters { width:3rem; }
.pages {
  position: absolute;
    top:0;
    left:3rem;
  width:10rem;
}
.pages{ display:none; }
.active-letter > .pages { display:block; }
.page-image img { 
  width: 100%;
  min-width: 50rem;
}

/* Typography */

.letters, .pages {
    font-family: 'SBL Hebrew', 'Times New Roman', Serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.pages a {
    color:black;
    text-decoration: none;
}

/* Style */
.letters {
    text-align: center;
}

.pages {
    text-align: right;
}